.container-of-person-badge {
  width: 2rem;
  margin-right: 10px;
}

.container-of-person-badge .badge {
  margin-top: 4px;
}

@media screen and (max-width: 380px) {
  .container-of-person-badge {
    display:none;
  }
}

input {
  text-align: center;
}

.input-group {
  width: 17rem;
}

.dollar{
  width: 40px;
  padding: 0;
  justify-content: center;
}

.btn-1 {
  width: 50px;
  justify-content: center;
}

.btn-2 {
  width: 50px;
  justify-content: center;
}

