.container-of-person-badge {
  width: 2rem;
  margin-right: 10px;

  .badge {
    margin-top: 4px;
  }
}

input {
  text-align: center;
}

.input-group {
  width: 15rem;
}

.dollar {
  width: 40px;
  padding: 0;
  justify-content: center;
}

.btn-1 {
  width: 50px;
  justify-content: center;
}

.btn-2 {
  width: 50px;
  justify-content: center;
}
