<div class="d-flex align-items-center">

  <!-- badge -->
  <div class="container-of-person-badge">
    <div class="d-flex flex-column align-items-center">
      <span class="oi oi-person" title="person" aria-hidden="true"></span>
      <span class="badge badge-pill badge-secondary align-top">{{index}}</span>
    </div>
  </div>

  <!-- input group -->
  <div class="input-group">
    <span class="input-group-addon dollar">$</span>
    <input
      type="number"
      [(ngModel)]="person.payment"
      (ngModelChange)="onEditPaymentOf(person)"
      (click)="$event.target.select()"
      placeholder="Payment"
      class="form-control">
    <span class="btn-1 input-group-addon" (click)="increasePaymentOf(person)"><span class="oi oi-plus" title="x" aria-hidden="true"></span></span>
    <span class="btn-2 input-group-addon" (click)="decreasePaymentOf(person)"><span class="oi oi-minus" title="x" aria-hidden="true"></span></span>
    <span class="btn-3 input-group-addon" (click)="toggleFixedPaymentOf(person)" [ngClass]="{'bg-danger': person.fixed, 'text-light': person.fixed}"><span class="oi oi-pin" title="x" aria-hidden="true"></span></span>
    <span class="btn-4 input-group-addon" (click)="deletePerson(person)"><span class="oi oi-x" title="x" aria-hidden="true"></span></span>
  </div>

</div>
