<!-- 総支払額-->
<div class="input-group total-payment">
  <span class="input-group-addon">$</span>
  <input
    [(ngModel)]="personListService.totalPay"
    (ngModelChange)="recalc()"
    (click)="$event.target.select()"
    type="number"
    placeholder="Enter the total Payment"
    class="form-control"
    aria-label="total payment"
  >
</div>

<div>
  <!-- Person Badge -->
  <span *ngIf="personListService.personList.length !== 0">Person:<span class="badge">{{personListService.personList.length}}</span></span>
  <!-- Add Person Button-->
  <button (click)="addPerson()" class="btn btn-default btn-primary add-person">Add Person</button>
</div>

<ul class="people-list">
  <app-person
    *ngFor="let person of personListService.personList; let i = index"
    [person]="person"
    [index]="i"
  >
  </app-person>
</ul>
