.add-person {
  width: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.people-list {
  margin: 0 0 0 0;
  padding: 0;
}

.total-payment {
  width: 25rem;
  margin: 20px auto;
}

.total-payment > input {
 text-align: center;
}

@media (max-width: 767px) {
  .person-edit-buttons {
    padding-top: 10px;
    margin: auto;
  }
}
