.add-person {
  width: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.people-list {
  margin: 0 0 0 0;
  padding: 0;
}

.people-list li {
  min-height: 60px;
  background: #f4f4f4;
}

.people-list .person-icon {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}

.people-list .person-icon img {
  width: 30px;
}

.total-payment {
  width: 25rem;
  margin: 20px auto;
}

.total-payment > input {
 text-align: center;
}

@media (max-width: 767px) {
  .person-edit-buttons {
    padding-top: 10px;
    margin: auto;
  }
}
